@use "../../../scss/" as *;



.welcome {

    &__content {
        @include flex(center, center);
    }

    
    &__img, &__info {
        width: 50%;
        height: 100%;
    }

        &__content {
            padding: 5rem;

            .description {
                font-size: 1.4rem;
                letter-spacing: .1rem;
                line-height: 150%;
                margin-bottom: 1rem;
                text-align: start;
            }      

        }
    

    &__img {
        @include flex(center, center);
        
        &__slide {
            height: 915px;
            width: 915px;
            overflow: hidden;
            // object-fit: fill;


            canvas {
                width: 53% !important;
                // height: fit-content;
                // object-fit: contain;
            }
        }
    }
}