/* 
    sujestão de cores 
    #2f3970 = azul
    #1b1a21 = preto
    #25262a = cinza
    #07A0A2 = verde normal
    #0D555F = verde escuro
    #2E3542 
    #C2D5DE
    #9b0d10
    $gray-light: C2D5DE;
    */
$primary-color: #9b0d10;
$blue-dark: #0A0C10;
$gray-dark: #1B1D2A;
$body-bg: #0f0f0f;
$main-color: #2FD4DB;
$second-color: #181e25;
$txt-color: #C2D5DE;

$white: #E7E5E8;
$black: #1b1a21;

$header-height: 9.5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Metal Mania", cursive;